body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background: #bbbb;
    padding: 20px 0;
}

.caixa {
    position: relative; /* a posição da 'caixa' criada dentro do cabeçalho é relativa, mantendo sempre os 940px de largura e as margens automaticas, deixando assim responsivo*/
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li { /* mudando os itens da lista*/
    display: inline;
    margin: 0 0 0 15px; /*1o parametro p topo, 2º p direita, 3o para baixo e ultimo para esquerda*/
    
}

nav a { /*tag nav p navegacao e 'a' para o link - aqui esta mudando apenas a visualização dos itens com link */
    text-transform: uppercase; /* deixar maisculo */
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    text-decoration: none;
       
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /* ss 30% do widht são definitivos e assim nao deixa quebrar os itens p outra linha*/
    border-color:#000000;
    border-width: 2px;
    border-style: solid;
    /*border: 2px solid #000000; a declaracao da borda unificada*/
    border-radius: 10px; /*arredonda os cantos*/
    text-decoration: none;
}
.produtos li:hover { /*quando o mouse esta em cima muda a cor*/
    border-color: #C78C19;
}

.produtos li:active { /*quando clica muda a cor*/
    border-color: green;
}

.produtos li:hover h2 { /*quando o mouse passa em cima mudamos o que foi declarado no h2*/
    font-size: 32px;
   
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    
}

.produto-descricao {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.preco-produto {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 ;
    color: #000000;
    text-decoration: none;
}

footer {
    background: url(bg.jpg);
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}


form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 20px 50px 10px;
    
}

select {
    margin: 0 50px 0 ;
}

.input-padrao {
    display: block;
    margin: 0 50px 20px ;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 50px 20px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    margin: 20px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
    transition: 2s;
    /* transform:rotate(10deg); para rotacionar - lembrar que quando tem 2propriedade igual a ultima que vai ser lida, a primeira sera invalidada.*/
}

/*CSS DA PAG INICIAL*/
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em; /* em usa para falar de tamanho proporcional a fonte base, no caso, ou seja 2x maior que a fonte do texto base*/
    margin: 10px 0 10px 1em;
    clear: left; /* para limpar o float*/
}

/*.titulo-principal::first-letter {
    font-weight: bold; 
}*/

.titulo-principal::before {
    content: "[ ";
}
.titulo-principal::after {
    content: " ]";
}
.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 30px auto;
}
.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: strong;
}

.principal em {
    font-style: italic;
}

.imagemutensilios {
    width: 120px;
    float: left; /* deixar a imagem flutuando*/
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0; 
    background: linear-gradient(#FFFFFF, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 30px auto;
}
.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
    
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens::before {
    content: "★";
}

.itens.itens:nth-child(odd) { /* pseudo-classe seleção de elementos específicos */
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
    opacity: 0.9;
    transition: 400ms;
    box-shadow: 10px 10px 10px;
}
.imagem-beneficios:hover {
    opacity: 1;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/* SELETORES AVANÇADOS

main > p {
    PARA PEGAR APENAS O ELEMENTO QUE É FILHO DIRETO DESSA TAG
}

img + p {
    PARA PEGAR SOMENTE O PARAGRAFO(seletor), NO CASO, que vem APÓS A IMG
}

img ~ p {
    PARA PEGAR TODOS OS SELETORES (no caso p) QUE VEM DEPOIS DE UMA IMG 

.principal p:not(#missao) {
    para pegar todos os seletores (no caso p) EXCETO o p de missao
*/

